@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
:root{
    --color-body: rgb(0, 0, 0);
    --color-heading: rgb(158, 75, 75);
    --color-base: rgb(82, 43, 43);
    --color-base2: rgb(0, 0, 0);
    --color-brand: rgb(163, 49, 49);
    --color-brand2: rgb(0, 0, 0);
    --sidebar-width: 240px;
    --font-base: "Dancing Script";
}

body{
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: var(--color-body);
    transition: all 0.4s ease;
}

a:hover{
    color: var(--color-brand);
}

img{
    width: 100%;
}

/*NAVBAR*/
@media (min-width: 992px){
.navbar{
    min-height: 100vh;
    width: var(--sidebar-width);
    background: linear-gradient(red, red) url();
    background-size: cover;
    background-position: center;
}
}